kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
name: ${KATA_KIND_CLUSTER}
# Configure containerd to use Kata Containers runtime
containerdConfigPatches:
  - |-
    [plugins."io.containerd.grpc.v1.cri".containerd.runtimes.kata]
      runtime_type = "io.containerd.kata.v2"
      [plugins."io.containerd.grpc.v1.cri".containerd.runtimes.kata.options]
        TypeUrl = "io.containerd.kata.v2.options"
nodes:
  - role: control-plane
    image: ${KATA_KIND_IMAGE}
    extraMounts:
      - hostPath: ${KATA_RUNTIME_PATH}
        containerPath: /usr/bin/kata-runtime
      - hostPath: /usr/share/defaults/kata-containers/
        containerPath: /usr/share/defaults/kata-containers/
  - role: worker
    image: ${KATA_KIND_IMAGE}
    extraMounts:
      - hostPath: ${KATA_RUNTIME_PATH}
        containerPath: /usr/bin/kata-runtime
      - hostPath: /usr/share/defaults/kata-containers/
        containerPath: /usr/share/defaults/kata-containers/
