name: Ingress Tests

on:
  pull_request:
    branches: [ main ]
    paths:
      - 'components/ingress/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  test:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24.0'

      - name: Run golint
        working-directory: components/ingress
        run: |
          make golint

      - name: Run Build
        working-directory: components/ingress
        run: |
          make build

      - name: Run tests
        working-directory: components/ingress
        run: |
          make test
